<!DOCTYPE html>
{% extends "genre/base.html" %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Piece</title>
  </head>
  <body>
    {% block content %}
    <!---->
    {% for pieceobj in collection.piece_set.all %}
    <div align="center">
      <img src="{{pieceobj.piececover}}" alt="" height="200" height="200" />
      <h2>{{pieceobj.title}}-{{pieceobj.artist}}</h2>
      <h3>{{pieceobj.type}}</h3>
      <h3>{{pieceobj.year}}</h3>
      <br />
    </div>
    {% endfor %}
    <!---->
    {% endblock %}
  </body>
</html>
